<div class="site-section" id="section-about">
        <div class="container">
          <div class="row mb-5">
            
            <div class="col-md-5 ml-auto mb-5 order-md-2" data-aos="fade-up" data-aos-delay="100">
              <img src="./assets/images/img_3.jpg" alt="Image" class="img-fluid rounded">
            </div>
            <div class="col-md-6 order-md-1" data-aos="fade-up">
              <div class="text-left pb-1 border-primary mb-4">
                <h2 class="text-primary">About Us</h2>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis deleniti reprehenderit animi est eaque corporis! Nisi, asperiores nam amet doloribus, soluta ut reiciendis. Consequatur modi rem, vero eos ipsam voluptas.</p>
              <p class="mb-5">Error minus sint nobis dolor laborum architecto, quaerat. Voluptatum porro expedita labore esse velit veniam laborum quo obcaecati similique iusto delectus quasi!</p>
              
              <ul class="ul-check list-unstyled success">
                <li>Error minus sint nobis dolor</li>
                <li>Voluptatum porro expedita labore esse</li>
                <li>Voluptas unde sit pariatur earum</li>
              </ul>
              
            </div>
            
          </div>
        </div>
      </div>
    


      <div class="site-section bg-image overlay" style="background-image: url('./assets/images/hero_bg_4.jpg');" id="section-how-it-works">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
              <h2 class="font-weight-light text-primary" data-aos="fade">How It Works</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
              <div class="how-it-work-item">
                <span class="number">1</span>
                <div class="how-it-work-body">
                  <h2>Make An Order</h2>
                  <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt praesentium dicta consectetur fuga neque fugit a at. Cum quod vero assumenda iusto.</p>
                  <ul class="ul-check list-unstyled success">
                    <li class="text-white">Error minus sint nobis dolor</li>
                    <li class="text-white">Voluptatum porro expedita labore esse</li>
                    <li class="text-white">Voluptas unde sit pariatur earum</li>
                  </ul>
                </div>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
              <div class="how-it-work-item">
                <span class="number">2</span>
                <div class="how-it-work-body">
                  <h2>Make A Payment</h2>
                  <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt praesentium dicta consectetur fuga neque fugit a at. Cum quod vero assumenda iusto.</p>
                  <ul class="ul-check list-unstyled success">
                    <li class="text-white">Error minus sint nobis dolor</li>
                    <li class="text-white">Voluptatum porro expedita labore esse</li>
                    <li class="text-white">Voluptas unde sit pariatur earum</li>
                  </ul>
                </div>
              </div>
            </div>
  
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
              <div class="how-it-work-item">
                <span class="number">3</span>
                <div class="how-it-work-body">
                  <h2>Track Your Order</h2>
                  <p class="mb-5">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt praesentium dicta consectetur fuga neque fugit a at. Cum quod vero assumenda iusto.</p>
                  <ul class="ul-check list-unstyled success">
                    <li class="text-white">Error minus sint nobis dolor</li>
                    <li class="text-white">Voluptatum porro expedita labore esse</li>
                    <li class="text-white">Voluptas unde sit pariatur earum</li>
                  </ul>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
  
      <div class="site-section border-bottom" id="section-our-team">
        <div class="container">
          <div class="row justify-content-center mb-5">
            <div class="col-md-7 text-center border-primary">
              <h2 class="font-weight-light text-primary" data-aos="fade">Our Team</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="100">
              <div class="person">
                <img src="./assets/images/person_1.jpg" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
                <h3>Christine Rooster</h3>
                <p class="position text-muted">Co-Founder, President</p>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>
                <ul class="ul-social-circle">
                  <li><a href="http://www.facebook.com"><span class="icon-facebook"></span></a></li>
                  <li><a href="http://www.twitter.com"><span class="icon-twitter"></span></a></li>
                  <li><a href="http://www.linked.in"><span class="icon-linkedin"></span></a></li>
                  <li><a href="http://www.instagram.com"><span class="icon-instagram"></span></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="200">
              <div class="person">
                <img src="./assets/images/person_2.jpg" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
                <h3>Brandon Sharp</h3>
                <p class="position text-muted">Co-Founder, COO</p>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>
                <ul class="ul-social-circle">
                  <li><a href="http://www.facebook.com"><span class="icon-facebook"></span></a></li>
                  <li><a href="http://www.twitter.com"><span class="icon-twitter"></span></a></li>
                  <li><a href="http://www.linked.in"><span class="icon-linkedin"></span></a></li>
                  <li><a href="http://www.instagram.com"><span class="icon-instagram"></span></a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0" data-aos="fade" data-aos-delay="300">
              <div class="person">
                <img src="./assets/images/person_4.jpg" alt="Image" class="img-fluid rounded mb-5 w-75 rounded-circle">
                <h3>Connor Hodson</h3>
                <p class="position text-muted">Marketing</p>
                <p class="mb-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi at consequatur unde molestiae quidem provident voluptatum deleniti quo iste error eos est praesentium distinctio cupiditate tempore suscipit inventore deserunt tenetur.</p>
                <ul class="ul-social-circle">
                  <li><a href="http://www.facebook.com"><span class="icon-facebook"></span></a></li>
                  <li><a href="http://www.twitter.com"><span class="icon-twitter"></span></a></li>
                  <li><a href="http://www.linked.in"><span class="icon-linkedin"></span></a></li>
                  <li><a href="http://www.instagram.com"><span class="icon-instagram"></span></a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
  
